@model UniversityMagazine.EF.ROLEGROUP

@Html.HiddenFor(x => x.ROLEGROUP_Id)
<div class="card card-secondary">
    <div class="card-header pt-2 pr-2 pl-2 pb-2">
        <h3 class="card-title">Thông tin</h3>
    </div>
    <div class="card-body pb-0 pt-2 pr-2 pl-2">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Role Group</label>
                    <div class="col-lg-10">
                        <div class="input-group">
                            <input type="text" name="ROLEGROUP_Code" value="@Model.ROLEGROUP_Code" class="form-control form-control-sm" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Descriptions</label>
                    <div class="col-lg-10">
                        <div class="input-group">
                            <input type="text" name="ROLEGROUP_Name" value="@Model.ROLEGROUP_Name" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>
<div style="text-align:right">
    <button type="submit" class="btn btn-primary btn-sm start">Save</button>
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
</div>
