@model EntityModels.EF.ARTICLE
@{
    ViewBag.Title = "Upload Image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/plugins/summernote/summernote-bs4.min.css">
}
@section breadcrumb{
    <li class="breadcrumb-item"><a href="#">MyUploads</a></li>
    <li class="breadcrumb-item">
        @Html.ActionLink("Images", "Images")
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title text-bold">
            Upload Image
        </h3>
    </div>
    @using (Html.BeginForm("UploadImage", "MyUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Terms and Conditions</h3>
                </div>
                <div class="card-footer">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="Confirm">
                        <label for="Confirm" class="custom-control-label">I have read and accept the terms and conditions</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input class="form-control form-control-sm" name="IMAGE_Tittle" placeholder="Tittle" required>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" name="image" class="custom-file-input" required id="image">
                    <label class="custom-file-label" for="image">Choose image</label>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-right">
                <button type="submit" class="btn btn-primary" id="Upload" disabled><i class="fa fa-upload"></i> Upload</button>
            </div>
            <button type="reset" class="btn btn-default"><i class="fas fa-times"></i>Discard</button>
        </div>
    }
</div>

@section js{
    <!-- bs-custom-file-input -->
    <script src="~/Content/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- Summernote -->
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/Content/plugins/dropzone/dropzone.js"></script>
    <script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote();
            bsCustomFileInput.init();
            $("#Confirm").click(function () {
                if ($("#Confirm:checkbox:checked").length > 0) {
                    $("#Upload").removeAttr("disabled");
                } else {
                    $("#Upload").attr("disabled", true);
                }
            });

            $('#image').change(function () {
                var ext = $('#image').val().split('.').pop().toLowerCase();
                //Allowed file types
                if ($.inArray(ext, ['png', 'jpg', 'jpeg']) == -1) {
                    alert('Chỉ chọn file .png, .jpg hoặc jpeg!');
                    $('#image').val("");
                    $('.custom-file-label').html("Choose file");
                }
            })
        });
    </script>
}