@{
    ViewBag.Title = "CRM | 403 Bạn không có quyền truy cập!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-warning">403</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Rất tiếc! </h3>
            <p>
                Bạn không có quyền truy cập vào nội dung này.
                Bạn có thể <a href="/"> trở về trang chủ</a> hoặc liên hệ quản trị viên.
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->