<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Email Config-->
    <add key="FromEmailAddress" value="noreply.universitymagazine@gmail.com" />
    <add key="FromEmailDisplayName" value="Account University Magazine Management" />
    <add key="FromEmailPassword" value="Tinpro123" />
    <add key="SMTPHost" value="smtp.office365.com" />
    <add key="SMTPPort" value="587" />
    <add key="EnabledSSL" value="true" />
    <add key="ToEmailAddress" value="noreply.universitymagazine@gmail.com" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" optimizeCompilations="true" />
    <httpRuntime targetFramework="4.5.1" relaxedUrlToFileSystemMapping="true" maxRequestLength="1048576" />
    <customErrors mode="On">
      <error statusCode="404" redirect="~/Error/Error404" />
      <error statusCode="403" redirect="~/Error/Error403" />
      <error statusCode="500" redirect="~/Error/Error500" />
    </customErrors>
    <authentication mode="None" />
    <sessionState timeout="1440" />
  </system.web>
 
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="UniversityMagazineDBContext" connectionString="data source=210.245.34.173;initial catalog=UniversityMagazine;persist security info=True;user id=UniversityMagazine;password=UniversityMagazine;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>