<!DOCTYPE html>
<html>
<head>
    <title> Mã bảo mật</title>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        <table class="tg" style="undefined;table-layout: fixed; width: 485px">
            <colgroup>
                <col style="width: 485px">
            </colgroup>
            <thead>
                <tr>
                    <th>Phan Long</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Xin chào {{FullName}},</td>
                </tr>
                <tr>
                    <td>
                        Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu Phan Long của bạn.
                    </td>
                </tr>
                <tr>
                    <td>Nhập mã đặt lại mật khẩu sau đây:</td>
                </tr>
                <tr>
                    <td style="font-size: 11px;
        font-family: LucidaGrande,tahoma,verdana,arial,sans-serif;
        max-width: 90px;
        display:block;
        padding: 10px;
        background-color: #f2f2f2;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc">
                        <span class="x_mb_text" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; font-size:16px; line-height:21px; color:#141823">{{tokenkey}}</span>
                    </td>
                </tr>
                <tr>
                    <td>© 2020 PhanLong, 215a Bình Thới, P10, Q11, TP.HCM, VN</td>
                </tr>
            </tbody>
        </table>
    </div>




</body>
</html>

